[DEFAULT]
FLASK_DEBUG =
FLASK_ENV =
FLASK_APP =
FLASK_RUN_HOST =
FLASK_RUN_PORT =
SECRET_KEY =
SESSION_TYPE = 'filesystem'
SESSION_PERMANENT = True
OAUTHLIB_INSECURE_TRANSPORT = True
TITLE =
DESCRIPTION =

[TELEGRAM]
CHAT_ID = 
TOKEN =
TOPIC_CHAT_ID = 

[SQLITE]
DATABASE =

[ADMIN]
PASSWORD = 